@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Email: @ViewData["Gmail"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/f%C3%A1bio-luiz/">www.linkedin/fabio-luiz</a>
</address>